/* MealsList.css */
.meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
    gap: 16px; /* Space between the grid items */
    padding: 16px; /* Padding around the grid */
  }
  
  .meal-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text within the card */
  }
  
  .meal-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .meal-description {
    font-size: 1rem;
    color: #666;
  }
  
  .meal-price {
    font-size: 1.2rem;
    color: #333;
  }
  
  
 
  
  .view-details-link {
    display: inline-block; /* Make it behave like a block element */
    padding: 10px 20px; /* Padding inside the link */
    margin-top: 10px; /* Space above the link */
  background-color: #2e746a; /* Bootstrap primary color */
  background-color: ; /* Button color */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Pointer on hover */
    font-size: 1em; /* Font size */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .view-details-link:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }


.meal-detail {
  max-width: 600px;
  margin: 0 auto; /* Center align */
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #f8f9fa; /* Light background */
}

h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
